.flex {
    display: flex;
}
.center {
    flex-direction: column;
    align-items: center;
    height:100%;

}
.header {
    height: 60px;
}
.logo {
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}
.form {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    /*border: 3px solid pink;*/
}
.searchbarpad {
    width: auto;
    max-width: 584px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    /*border: 3px solid black;*/
    width: 482px;
}
.searchbarpad2 {
    flex: 1;
    padding: 5px 8px 14px 16px;
    /*border: 3px solid red;*/
}
.indent {
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    /*border: 3px solid purple;*/
    
}
.icon {
    padding-top: 8px;
    margin: auto;
}

.icon_span {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;

}
.searchfield {
    color: transparent;
    white-space: pre;
    height: 34px;
    flex: 1;
    flex-wrap: wrap;
    /*border: 3px solid brown;*/
}
.searchbar {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    flex: 100%;
    /*margin-top: -37px;*/
    height: 34px;
    font-size: 16px;
}

.buttons {
    padding-top: 18px;
    justify-content: center;
    /*border: 3px solid pink;*/
}
input[type=submit] {
    background-color: #f2f3f4;
    color: #585858;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 35px;
    width: 130px;
}
.searchbutton {
    margin-right: 5px;
}
.luckybutton {
    margin-left: 5px;
}